* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.happy {
  position: relative;
  font-family: cursive;
  text-align: center;
  backface-visibility: hidden;
  font-size: 36px;

  color: white;
}

.bday {
  position: relative;
  font-family: arial;
  color: white;
  text-align: center;
  width: 100%;
  /*top: 0;*/
  left: 0;
}

.happy {
  font-weight: 700;
  letter-spacing: 0px;
  background-color: black;
  background-size: cover;
  padding: 20px;

  margin-left: 0;
  margin-right: 0;
  top: 0;
  left: 0;
  position: relative;
  animation: motion 4s 1;
  z-index: 1;
}

.bday {
  top: -5px;
  font-size: 0.8em;
  color: #868686;
  letter-spacing: 2px;
  transition: 1s;
}

@keyframes motion {
  0% {
    color: #fcf9f9;
    margin-bottom: -42px;
  }
  30% {
    letter-spacing: 0px;
    margin-bottom: -42px;
  }
  85% {
    letter-spacing: 0px;
    margin-bottom: -42px;
  }
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  
}

.slide {
  display: none;
}

.fade {
  animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  padding: 16px;

  color: white;
  font-weight: bold;

  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev,
.next {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* carrossel 2*/


.swiper-container {
  position: relative;
  width: 80%;
  max-width: 500px;
  min-width: 400px;
  height: 550px; /* Altura fixa para o carrossel */
  box-shadow: 0 4px 8px rgba(255, 254, 254, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid white;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  height: 100%; /* Ajusta a altura para preencher o contêiner */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos para desktop */
@media screen and (min-width: 768px) {
  .swiper-container {
    margin: 0 auto; /* Centraliza o contêiner */
  }
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .swiper-container {
    margin-left: auto; /* Centraliza o contêiner */
    margin-right: auto; /* Centraliza o contêiner */
  }
}

.logo {
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
  margin-left: 20px;
  box-shadow: 10px 5px 5px black;
}

.menu-icon {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

.menu {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  display: none;
}
.menu-icon div {
  position: absolute;
  width: 100%;
  height: 4px;
  right: 10px;
  background-color: #fff;
  transition: all 0.3s;
}
.menu-icon div:nth-child(1) {
  top: 0;
}
.menu-icon div:nth-child(2) {
  top: 10px;
}
.menu-icon div:nth-child(3) {
  top: 20px;
}
.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.menu-icon.open div:nth-child(2) {
  opacity: 0;
}
.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}
.menu {
  position: absolute;
  top: 60px;
  margin-top: 6px;
  left: 0;
  width: 48%;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(8, 8, 8, 0.456);
  transition: max-height 0.5s ease-in-out;
  z-index: 2;
  font-weight: bold;
}
.menu.open {
  max-height: 500px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menu ul li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.menu ul li a {
  color: #fbf9f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
@media (min-width: 769px) {
  .menu {
    position: static;
    max-height: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu ul li {
    border-bottom: none;
    padding: 5px 15px;
  }
  .menu ul li a {
    color: #fff;
  }
  .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
}

/*GALERIA DE VIDEOS*/

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.video-container {
  display: flex;
  position: relative;
  width: calc(
    50% - 20px
  ); /* Ajustar para 50% da largura com espaço entre os vídeos */
  max-width: 560px; /* Largura máxima do player de vídeo */
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(92, 91, 93);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .video-container {
    width: 100%; /* Em telas menores, ocupar 100% da largura */
  }
}

.videos {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para o Formulário de contato*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #474b4f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

button {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

button a {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

button:hover {
  background-color: #3c4248;
}

@media (min-width: 768px) {
  .input-group {
    flex-direction: row;
  }

  .input-group input {
    width: calc(50% - 5px);
    margin-right: 10px;
  }
}

/* Estilos adicionais para desktop */
@media only screen and (min-width: 601px) {
  .nav {
    margin: 0 auto; /* Centraliza a lista de navegação */
  }
}

/* Estilos adicionais para desktop */
@media only screen and (min-width: 601px) {
  .nav {
    margin: 0 auto; /* Centraliza a lista de navegação */
  }

  .nav ul {
    display: flex; /* Torna a lista de navegação horizontal */
    padding: 0; /* Remove o preenchimento padrão da lista */
  }

  .nav li {
    margin-right: 20px; /* Mantém a margem entre os itens da lista */
  }

  .nav li:last-child {
    margin-right: 0; /* Remove a margem direita do último item da lista */
  }
  @media (max-width: 767px) and (orientation: landscape) {
    .nav {
      width: 33.33%; /* Ajuste conforme necessário */
    }
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Adicionando regras de estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px; /* Aumentar o tamanho da fonte para dispositivos móveis */
  }
  .header {
    padding: 10px; /* Reduzir o padding do cabeçalho */
  }
  .nav {
    padding: 10px 0; /* Adicionar espaço entre os itens do menu */
  }
  .nav li {
    margin-right: 0;
    margin-bottom: 10px; /* Aumentar o espaço entre os itens do menu */
  }
  .menu-toggle {
    padding: 10px; /* Aumentar o tamanho do botão de menu */
  }
  main {
    padding: 20px; /* Adicionar espaço entre as seções do conteúdo */
  }
  p {
    line-height: 1.6; /* Aumentar o espaçamento entre linhas */
  }
  h1,
  h2,
  h3 {
    margin-top: 20px; /* Adicionar espaço antes dos títulos */
    margin-bottom: 10px; /* Adicionar espaço após os títulos */
  }
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 16px; /* Aumentar o tamanho da fonte nos campos de formulário */
  }

  input,
  textarea {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 15px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }
}

textarea {
  resize: vertical;
}

/* Adicionando regras de estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
  /* Outros estilos existentes... */

  .nav {
    font-size: 18px; /* Aumentar o tamanho da fonte do menu */
    transition: top 0.5s; /* Adiciona transição suave ao movimento */
  }

  .nav li {
    margin-bottom: 15px; /* Aumentar o espaço entre os itens do menu */
  }
}

/* Adicionando regras de estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
  /* Outros estilos existentes... */

  .menu-toggle {
    padding: 1px 35px; /* Aumentar o tamanho do botão de menu */
    font-size: 28px; /* Aumentar o tamanho da fonte do botão */
    font-weight: bold;
  }
}

#social-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
  color: #fff;
}

#social-links {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

#social-links a {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

#social-links a:hover {
  background: #474b4f;
}

summary {
  display: list-item;
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

summary {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

/* Estilo geral para remover a seta no Android e em outros navegadores */
summary {
  list-style: none; /* Remove a seta */
}

/* Estilo específico para Safari no iOS */
summary::-webkit-details-marker {
  display: none; /* Remove a seta no Safari */
}

.imagem-girando {
  position: relative;
  width: 200px;
  height: 200px;
  animation: girar 6s linear infinite; /* Aplica a animação */
  border-radius: 50%;
}

.imagem-girando2 {
  position: relative;

  height: 200x;
  width: 200px;
  animation: girar 6s linear infinite; /* Aplica a animação */
}

/* Define a animação */
@keyframes girar {
  from {
    transform: rotate(0deg); /* Começa a girar a partir de 0 graus */
  }
  to {
    transform: rotate(360deg); /* Completa uma rotação completa (360 graus) */
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgb(32, 137, 218);
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 1000;
}

.back-to-top {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

.back-to-top:hover {
  opacity: 1;
}

section {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

.float {
  width: 50%;
  float: left;
  padding-right: 15px;
}

@media (max-width: 500px) {
  .float {
    width: 100%;
    padding: 0;
  }
}
